<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        tools:targetApi="31">
        <activity android:name=".ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity android:name=".ComicsQuizActivity"/>
        <activity android:name=".MoviesQuizActivity"/>
        <activity android:name=".HistoryQuizActivity"/>
        <activity android:name=".GeneralQuizActivity"/>
        <activity android:name=".ComicsMateriActivity"/>
        <activity android:name=".MoviesMateriActivity"/>
        <activity android:name=".HistoryMateriActivity"/>
        <activity android:name=".GeneralMateriActivity"/>
        <activity android:name=".ManfaatActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".VideoPembelajaranActivity"/>
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" 
            />
        <activity
            android:name=".DashboardMateriActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" 
            />
        <activity
            android:name=".SplashActivity"
            android:isScrollContainer="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true"
            android:windowSoftInputMode="adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:isScrollContainer="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified" />
    </application>

</manifest>